<template>
    <v-app id="app">
        <app-navigation></app-navigation>
        <v-content>
            <transition name="fade"
                        mode="out-in">
                <router-view></router-view>
            </transition>
        </v-content>
        <AppFooter/>
    </v-app>
</template>

<script>
    import AppNavigation from './components/AppNavigation';
    import {USER_REQUEST} from './store/actions/user'
    import AppFooter from "./components/AppFooter";

    export default {
    name: 'App',
    created: function () {
        if (this.$store.getters.isAuthenticated) {
        this.$store.dispatch(USER_REQUEST)
        }
    },
    components: {
        AppFooter,
        AppNavigation
    }
};
</script>

