<template>
    <form-adding></form-adding>
</template>

<script>
    import FormAdding from '../components/FormAdding';
    export default {
        name: "AddStock",
        components: {
            FormAdding
        }
    }
</script>

<style scoped>

</style>