<template>
    <div>
        <favorites-stocks></favorites-stocks>
    </div>
</template>

<script>
import FavoritesStocks from '../components/FavoritesStocks';

export default {
    name: 'favorites',
    components: {
        FavoritesStocks
    }
};
</script>

<style scoped>
</style>
