<template>
    <div>
        <popular-stocks></popular-stocks>
    </div>
</template>

<script>
    import PopularStocks from "../components/PopularStocks";
    export default {
        name: "Index",
        components: {PopularStocks}
    }
</script>