<template>
    <div>
        <stocks-list></stocks-list>
    </div>
</template>
<script>
    import StocksList from '../components/StocksList';
    export default {
        name: 'moderate',
        components: {
            StocksList
        }
    };
</script>