<template>
    <v-container grid-list-lg>
        <v-flex>
            <v-layout row wrap class="meal-plans">
                <v-flex xs6 offset-xs3>
                    <v-layout row wrap class="meal-plans">
                        <v-flex xs12>
                            <card-with-progress v-bind:bonusAction="bonusAction" v-bind:showFooter='false' v-bind:showCafe='true'></card-with-progress>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex d-flex xs6 offset-xs3>
                    <v-card elevation="0">
                        <v-card-title primary class="title">{{bonusAction.title}}</v-card-title>
                        <v-card-text>
                            {{bonusAction.description}}
                        </v-card-text>
                    </v-card>
                    <v-flex xs2 >
                        <social-share v-bind:bonusAction="bonusAction" />
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-container>
</template>

<script>
import CardWithProgress from '../components/CardWithProgress';
import axios from 'axios';
import SocialShare from "../components/SocialShare";

const url = '/api/bonusAction/';

export default {
    props: ['bonusActionId'],
    name: 'stock',
    components: {
        SocialShare,
        CardWithProgress
    },
    data() {
        return {
            bonusAction: []
        }
    },
    mounted() {
        axios.get(url + this.bonusActionId).then(response => {
            this.bonusAction = response.data
        })
    }
};
</script>
