<template>
    <v-footer
            dark

            height="auto"
    >
        <v-card
                class="flex"
                color="primary"
                flat
                tile
        >

            <v-card-actions class="justify-center">
                &copy; 2019 — Freebie
            </v-card-actions>
        </v-card>
    </v-footer>
</template>
<script>
    export default {
        name: 'AppFooter'
    }
</script>
