<template>
    <span>
        <v-toolbar app color="primary" dark>
            <router-link to="/">
                <v-toolbar-title data-cy="titleBtn">{{appTitle}}</v-toolbar-title>
            </router-link>
            <v-spacer class="hidden-sm-and-down"></v-spacer>
            <div class="hidden-sm-and-down">
                <div v-if="isAuthenticated">
                    <v-btn flat class="hidden-sm-and-down nav-menu" to="/favorites" data-cy="menuBtn">Избранное</v-btn>
                    <v-btn flat class="hidden-sm-and-down nav-menu" to="/add" data-cy="menuBtn">Добавить акцию</v-btn>
                    <v-btn v-if="isAdmin" flat class="hidden-sm-and-down nav-menu" to="/moderate" data-cy="menuBtn">Модерация</v-btn>
                    <user-avatar></user-avatar>
                    <user-name></user-name>
                    <v-btn color="light-blue " class="nav-join" data-cy="joinBtn" large  @click="logout">ВЫЙТИ</v-btn>
                </div>
                <div v-else>
                    <auth></auth>
                </div>
            </div>
        </v-toolbar>
    </span>
</template>

<script>
import mapGetters from 'vuex';
import {AUTH_LOGOUT} from '../store/actions/auth';
import UserAvatar from './UserAvatar';
import UserName from './UserName';
import Store from '../store';
import Auth from './Auth';

export default {
    name: 'AppNavigation',
    components: {
        UserAvatar,
        UserName,
        Auth
    },
    methods: {
      logout: function () {
        this.$store.dispatch(AUTH_LOGOUT).then(() => this.$router.push('/auth'));
      }
    },
    computed: {
        isAuthenticated () {
            return Store.getters.isAuthenticated;
        },
        isAdmin () {
            return Store.getters.isAdmin;
        }
    },
    data() {
        return {
            appTitle: 'Freebie'
        };
    }
};
</script>

<style scoped>
a {
    color: white;
    text-decoration: none;
}
</style>
