<template>
    <div class="text-xs-center">
        <v-dialog
        v-model="dialog"
        width="500"
        >
            <template v-slot:activator="{ on }">
                <v-btn
                    large
                    color="light-blue"
                    dark
                    v-on="on"
                >
                    ВОЙТИ
                </v-btn>
            </template>
            <v-card>
                <v-btn icon @click="dialog = false" absolute small right fab>
                    <v-icon>close</v-icon>
                </v-btn>
                <v-card-title
                    class="headline justify-center"
                    primary-title
                >
                    Авторизация
                </v-card-title>
                <v-card-text class="text-xs-center">
                    <v-btn dark color="blue darken-3" class="nav-join" data-cy="joinBtn" @click="vkAuth">Вконтакте</v-btn>
                    <v-btn dark color="light-blue" class="nav-join" data-cy="joinBtn">Twitter</v-btn>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>

                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import {AUTH_REQUEST} from '../store/actions/auth';

export default {
    data () {
      return {
        dialog: false
      }
    },
    methods: {
        vkAuth: function() {
            var vueThis = this;
            VK.Auth.login(function(event) {
                console.log(event.status);
                if (event.status == 'connected') {
                    var id = event.session.mid;
                    const { qwe } = vueThis;
                    vueThis.$store.dispatch(AUTH_REQUEST, { id: id}).then(() => {
                        vueThis.$router.push('/');
                    });
                }
            });
        }
    }
};
    

</script>
<style scoped>
</style>
