<template>
    <v-container grid-list-md text-xs-center>
        <v-layout d-block>
            <v-flex xs12>
                <v-card class="rounded-card">
                    <v-responsive>
                        <router-link v-bind:to="'/stock/' + bonusAction.id">
                            <v-img :src="bonusAction.image"  height="160"></v-img>
                        </router-link>
                    </v-responsive>
                    <a :href="bonusAction.url" target="blank" v-if="showCafe" >
                        <v-card-actions >
                            <v-img :src="bonusAction.cafeLogo" max-height="50" contain></v-img>
                        </v-card-actions>
                    </a>
                </v-card>
            </v-flex>
            <v-flex v-if="showFooter" xs12>
                <h3 class="headline mb-0" v-if="bonusAction.title.length >= 32" >{{bonusAction.title.substring(0, 32)+"..." }}</h3>
                <h3 class="headline mb-0" v-else>{{bonusAction.title}}</h3>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    export default {
        props: {
            bonusAction : {type: Object/Array, default: function () { return {title: ' '} }}, 
            showFooter: {type: Boolean, default: true},
            showCafe: {type: Boolean, default: false}
            },
        data() {
            return {
            }
        },
    }
</script>