<template>
    <v-card>
        <v-card-text  class="px-0">
            <v-container grid-list-md text-xs-left>
            <v-layout row wrap>
                
                <v-flex xs4 >
                    <v-card flat>
                        <v-card-text class="px-0">
                            <router-link v-bind:to="'/stock/' + bonusAction.id">
                                <v-img :src="bonusAction.image"></v-img>
                            </router-link>
                            <v-progress-linear color="info" height="10" value="45"></v-progress-linear>
                        </v-card-text>
                    </v-card>
                </v-flex>

                <v-flex d-flex xs12 sm8 >
                    <v-layout row wrap >
                        <v-card flat>
                            <router-link v-bind:to="'/stock/' + bonusAction.id"><v-card-title primary class="title">{{bonusAction.title}}</v-card-title></router-link>
                            <v-card-text>
                                {{bonusAction.description}}
                            </v-card-text>
                        </v-card>
                    </v-layout>
                </v-flex>

            </v-layout>
            </v-container>
        </v-card-text>
    </v-card>
</template>
<script>
    export default {
        props: {
            bonusAction : {type: Object/Array, default: function () { return {title: ' '} }}
        },
        data() {
            return {
            }
        },
    }
</script>
