<template>
  <v-layout row>
    <v-flex xs12 >
      <v-card>
        <v-toolbar color="blue" dark>
          <v-toolbar-title>Избранные</v-toolbar-title>
        </v-toolbar>
        <v-list>
          <v-list-tile @click="onSelectedCafe" v-for="item in items" :key="item.id" >
            <v-list-tile-action >
              <v-checkbox :key="item.id" :label="item.title" v-model="item.checked" hide-details></v-checkbox>
            </v-list-tile-action>
            <v-list-tile-content @click="item.checked = !item.checked"></v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from 'axios';
const url = '/api/allCafe';
const urlBonusActionByCafesIds = '/api/bonusActionsByCafeIds';
const urlUserFavoritesCafeIds = '/api/userFavoritesCafeIds/';
  export default {
    data () {
      return {
        items: [],
        cafesSelected: false,
        notifications: false
      }
    },
    props: {
      favoritesCafeIds: {type: String, default: ''}
    },
    mounted() {
        axios.get(url).then(response => {
              let userId = localStorage.getItem('user-token');
              let favoritesCafeIdsArray = this.favoritesCafeIds.split(',');
              favoritesCafeIdsArray = favoritesCafeIdsArray.map(function (item) {
                  return Number(item);
              });
              response.data.forEach(function (item, i, items) {
                if (favoritesCafeIdsArray.includes(item.id)) {
                  item.checked = true;
                } else {
                  item.checked = false;
                }
              });
              this.items = response.data;
        })
    },
    methods: {
      onSelectedCafe() {
        let selectedCafeIds = [];
        this.items.forEach(function (item, i, items) {
          if (item.checked) {
            selectedCafeIds.push(item.id);
          }
        });
        let userId = localStorage.getItem('user-token');
        axios.get(urlBonusActionByCafesIds + '?cafeIds=' + selectedCafeIds.join() + '&userId='+userId).then(response => {
          this.$parent.favoritesBonusActions = response.data;
        })
      }
    }
  }
</script>