<template>
    <v-container grid-list-md text-xs-center>
        <v-layout row>
              <v-flex xs12 class="text-xs-center display-1 font-weight-black">Избранное</v-flex>
        </v-layout>
        <v-layout row wrap>
            <v-flex xs10 sm10 md10>
                <v-layout row wrap>
                    <v-flex v-for="favoritesBonusAction in favoritesBonusActions" :key="favoritesBonusAction.fid" xs12 sm12 md3>
                        <card-with-progress :bonusAction="favoritesBonusAction" v-bind:showCafe='false' ></card-with-progress>
                    </v-flex>
                </v-layout>

                <infinite-loading v-if="favoritesBonusActions.length > 0" @infinite="infiniteHandler" >
                    <div slot="no-more"></div>
                    <div slot="no-results"></div>
                </infinite-loading>
            </v-flex>
            <v-flex xs2 sm2 md2 v-if="favoritesCafeIds.length > 0">
                <favorites-menu v-bind:favoritesCafeIds="favoritesCafeIds"></favorites-menu>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
import CardWithProgress from '../components/CardWithProgress';
import FavoritesMenu from '../components/FavoritesMenu';
import axios from 'axios';
import InfiniteLoading from 'vue-infinite-loading';
const url = '/api/allBonusActions';
const urlUserFavoritesCafeIds = '/api/userFavoritesCafeIds/';
const urlBonusActionByCafesIds = '/api/bonusActionsByCafeIds';
export default {
    name: 'card',
    components: {
        CardWithProgress,
        FavoritesMenu,
        InfiniteLoading
    },
    data() {
        return {
            favoritesBonusActions: [],
            favoritesCafeIds: '',
            page: 1
        }
    },
    mounted() {
        let userId = localStorage.getItem('user-token');
        axios.get(urlUserFavoritesCafeIds + userId) .then(response => {
            this.favoritesCafeIds = response.data;
            if (this.favoritesCafeIds) {
                axios.get(urlBonusActionByCafesIds + '?cafeIds=' + this.favoritesCafeIds).then(response => {
                    this.favoritesBonusActions = response.data;
                });
            } else {
                axios.get(url).then(response => {
                    this.favoritesBonusActions = response.data;
                });
            }
        });
    },
    methods: {
        infiniteHandler($state) {
            let page = this.page + 1;
            axios.get(urlBonusActionByCafesIds + '?cafeIds=' + this.favoritesCafeIds + "&page=" + page)
                .then(response => {
                    if (response.data.length) {
                        console.log(this.favoritesBonusActions);
                        this.favoritesBonusActions =  this.favoritesBonusActions.concat(response.data);
                        this.page = page;
                        $state.loaded();
                    } else {
                        $state.complete();
                    }
                });
        },
    }
};
</script>
