<template>
    <v-form
        ref="form"
        lazy-validation
    >
        <v-container grid-list-lg>
            <v-layout row>
                <v-flex xs12 class="text-xs-center display-1 font-weight-black">Добавление акции</v-flex>
            </v-layout>
            <v-layout row wrap align-center>
                <v-flex xs12 sm6 offset-sm3>
                    <v-flex >
                    <v-select
                            :items="items"
                            item-text="title"
                            item-value="id"
                            label="Выберите кафе"
                            name="cafeId"
                            id="cafeId"
                            v-model="$v.cafeId.$model"
                            :class="status($v.cafeId)"
                            solo
                    ></v-select>
                    </v-flex>
                    <v-flex>
                    <v-text-field
                            label="Название акции"
                            single-line
                            name="title"
                            id="title"
                            v-model="$v.title.$model"
                            :class="status($v.title)"
                            solo
                    ></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-text-field
                                label="Ссылка на картику"
                                single-line
                                name="imageUrl"
                                id="imageUrl"
                                v-model="$v.imageUrl.$model"
                                :class="status($v.imageUrl)"
                                solo
                        ></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-textarea
                                label="Описание акции"
                                name="description"
                                id="description"
                                v-model="$v.description.$model"
                                :class="status($v.description)"
                                solo
                        ></v-textarea>
                    </v-flex>
                    <v-flex>
                        <v-btn block @click="sendNewStock" color="success">Отправить</v-btn>
                    </v-flex>
                </v-flex>
            </v-layout>
        </v-container>
        <v-dialog
                v-model="dialog"
                width="300"
        >
            <v-card
            >
                <v-card-text class="text-xs-center">
                    Запись отправлена на модерацию
                </v-card-text>
                <v-card-actions class="justify-center">
                    <v-btn
                        @click="dialog = false"
                        color="success"
                    >
                        Ок
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-form>
</template>

<script>
    import axios from 'axios';
    import { required, minLength } from 'vuelidate/lib/validators';
    const urlAllCafe = '/api/allCafe';
    const urlAddNewStock = '/stock/add';
    export default {
        name: "formAdding",
        data () {
            return {
                items: [],
                cafeId: '',
                title: '',
                imageUrl: '',
                description: '',
                dialog: false
            }
        },
        methods: {
            sendNewStock() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    let data = {'cafeId': this.cafeId, 'title': this.title, 'description': this.description, 'imageUrl': this.imageUrl};
                    let dataJson = JSON.stringify(data);
                    axios.post(urlAddNewStock, dataJson)
                        .then(response => {
                            this.dialog = true;
                        })
                        .catch((error) => {
                            alert('Не все поля заполненые');
                        });
                }
            },
            status(validation) {
                return {
                    error: validation.$error,
                    dirty: validation.$dirty
                }
            },
            reset () {
                this.$refs.form.reset()
            },
        },
        mounted() {
            axios.get(urlAllCafe).then(response => {
                this.items = response.data;
            });
        },
        validations: {
            cafeId: {
                required
            },
            title: {
                required,
                minLength: minLength(6)
            },
            imageUrl: {
                required,
                minLength: minLength(10)
            },
            description: {
                required,
                minLength: minLength(15)
            }
        },
        watch: {
            dialog(val) {
                if (!val) {
                    this.reset();
                    this.$v.$reset();
                }
            }
        }
    }
</script>

<style scoped>

</style>