<template>
    <v-form
            ref="form"
            lazy-validation
    >
        <v-container grid-list-lg>
            <v-layout row>
                <v-flex xs12 class="text-xs-center display-1 font-weight-black">Модерация акции</v-flex>
            </v-layout>
            <v-layout row wrap align-center>
                <v-flex xs12 sm6 offset-sm3>
                    <v-flex >
                        <v-select
                                :items="items"
                                item-text="title"
                                item-value="id"
                                label="Выберите кафе"
                                name="cafeId"
                                id="cafeId"
                                v-model="$v.cafeId.$model"
                                :class="status($v.cafeId)"
                                solo
                        ></v-select>
                    </v-flex>
                    <v-flex>
                        <v-text-field
                                label="Название акции"
                                single-line
                                name="title"
                                id="title"
                                v-model="$v.title.$model"
                                :class="status($v.title)"
                                solo
                        ></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-text-field
                                label="Ссылка на картику"
                                single-line
                                name="imageUrl"
                                id="imageUrl"
                                v-model="$v.imageUrl.$model"
                                :class="status($v.imageUrl)"
                                solo
                        ></v-text-field>
                    </v-flex>
                    <v-flex>
                        <v-textarea
                                label="Описание акции"
                                name="description"
                                id="description"
                                :value="descriptionValue"
                                v-model="$v.description.$model"
                                :class="status($v.description)"
                                solo
                        ></v-textarea>
                    </v-flex>
                    <v-layout row wrap>
                        <v-flex xs6>
                            <v-btn block @click="removeStock" color="error">Удалить</v-btn>
                        </v-flex>
                        <v-flex xs6>
                            <v-btn block @click="sendNewStock" color="success">Опубликовать</v-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
            </v-layout>
        </v-container>
        <v-dialog
                v-model="dialog"
                width="300"
        >
            <v-card
            >
                <v-card-text class="text-xs-center">
                    Запись опубликована
                </v-card-text>
                <v-card-actions class="justify-center">
                    <v-btn
                            @click="dialogPublishThen"
                            color="success"
                    >
                        Ок
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
                v-model="dialogDelete"
                width="300"
        >
            <v-card
            >
                <v-card-text class="text-xs-center">
                    Запись удалена
                </v-card-text>
                <v-card-actions class="justify-center">
                    <v-btn
                            @click="dialogRemoveThen"
                            color="success"
                    >
                        Ок
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-form>
</template>

<script>
    import axios from 'axios';
    import { required, minLength } from 'vuelidate/lib/validators';
    const urlAllCafe = '/api/allCafe';
    const urlPublishStock = '/api/setModerateBonusAction';
    const urlRemoveStock = '/api/removeBonusAction/';
    export default {
        name: "formAdding",
        data () {
            return {
                items: [],
                cafeId: this.cafeIdValue,
                title: this.titleValue,
                imageUrl: this.imageUrlValue,
                description: this.descriptionValue,
                stockId: this.stockIdValue,
                dialog: false,
                dialogDelete: false,
                indexInArray: this.indexInArrayValue
            }
        },
        props: {
            descriptionValue: {type: String, default: ''},
            titleValue: {type: String, default: ''},
            imageUrlValue : {type: String, default: ''},
            cafeIdValue: {type: Number, default: 0},
            stockIdValue: {type: Number, default: 0},
            indexInArrayValue: {type: Number, default: 0},
            parentRemoveStock: {type: Function}
        },
        methods: {
            sendNewStock() {
                this.$v.$touch();
                if (!this.$v.$invalid) {
                    let data = {'cafeId': this.cafeId, 'title': this.title, 'description': this.description, 'imageUrl': this.imageUrl, 'bonusActionId' : this.stockId};
                    let dataJson = JSON.stringify(data);
                    axios.post(urlPublishStock, dataJson)
                        .then(response => {
                            this.dialog = true;
                        })
                        .catch((error) => {
                            alert('Не все поля заполненые');
                        });
                }
            },
            removeStock() {
                axios.get(urlRemoveStock + this.stockId)
                    .then(response => {
                        this.dialogDelete = true;
                    })
            },
            dialogPublishThen() {
                this.dialog = false;
                this.parentRemoveStock(this.indexInArray);
            },
            dialogRemoveThen() {
                this.dialogDelete = false;
                this.parentRemoveStock(this.indexInArray);
            },
            status(validation) {
                return {
                    error: validation.$error,
                    dirty: validation.$dirty
                }
            },
            reset () {
                this.$refs.form.reset()
            },
        },
        mounted() {
            axios.get(urlAllCafe).then(response => {
                this.items = response.data;
            });
        },
        validations: {
            cafeId: {
                required
            },
            title: {
                required,
                minLength: minLength(6)
            },
            imageUrl: {
                required,
                minLength: minLength(10)
            },
            description: {
                required,
                minLength: minLength(15)
            }
        },
        watch: {
            dialog(val) {
                if (!val) {
                    this.reset();
                    this.$v.$reset();
                }
            }
        }
    }
</script>

<style scoped>

</style>