<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12 class="text-xs-center display-1 font-weight-black">Популярные акции</v-flex>
        </v-layout>
        <v-layout row wrap class="meal-plans">
            <v-flex v-for="(n, i) in 8" :key="`12${i}`" xs12 sm12 md3>
                <card-with-progress v-bind:bonusAction="popularBonusActions[i]" v-bind:showCafe='false' ></card-with-progress>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
import CardWithProgress from '../components/CardWithProgress';
import axios from 'axios';
const url = '/api/popularBonusAction';
export default {
    name: 'card',
    components: {
        CardWithProgress
    },
    data() {
        return {
            popularBonusActions: []
        }
    },
    mounted() {
        axios.get(url).then(response => {
            this.popularBonusActions = response.data
        })
    }
};
</script>
