<template>
    <social-sharing url="http://127.0.0.1:8000/"
                    :title="bonusAction.title"
                    :description="bonusAction.description"
                    hashtags="bonus, action, акции, бонус"
                    inline-template>
        <div>
            <network network="facebook">
                <v-btn color="#3C5798" dark block>
                    <i class="fab fa-facebook-f fa-2x"></i>
                </v-btn>
            </network>
            <network network="linkedin">
                <v-btn color="#036EAE" dark block>
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </v-btn>
            </network>
            <network network="pinterest">
                <v-btn color="#E60023" dark block>
                    <i class="fab fa-pinterest fa-2x"></i>
                </v-btn>
            </network>
            <network network="reddit">
                <v-btn color="#FF4000" dark block>
                    <i class="fab fa-reddit-alien fa-2x"></i>
                </v-btn>
            </network>
            <network network="twitter">
                <v-btn color="#1E9DF2" dark block>
                    <i class="fab fa-twitter fa-2x"></i>
                </v-btn>
            </network>
            <network network="vk">
                <v-btn color="#4B75A8" dark block>
                    <i class="fab fa-vk fa-2x"></i>
                </v-btn>
            </network>
        </div>
    </social-sharing>
</template>
<script>
    export default {
        name: 'social-share',
        props: {bonusAction : {type: Object/Array, default: function () { return {title: ' '} }}}
    }
</script>