<template>
    <v-container grid-list-lg>
        <v-layout row>
            <v-flex xs12 class="text-xs-center display-1 font-weight-black">Модерация</v-flex>
        </v-layout>
        <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-card>
                    <v-list two-line v-if="items.length > 0">
                        <template v-for="(item, index) in items">
                            <v-list-tile
                                    :key="item.title"
                                    avatar
                                    ripple
                            >
                                <v-list-tile-content>
                                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                                    <v-list-tile-sub-title>{{ item.cafeTitle }}</v-list-tile-sub-title>
                                </v-list-tile-content>

                                <v-list-tile-action>
                                    <v-dialog
                                            v-model="item.dialog"
                                            width="800"
                                    >
                                        <template v-slot:activator="{ on }">
                                            <v-btn
                                                    color="blue"
                                                    dark
                                                    v-on="on"
                                            >
                                                Изменить
                                            </v-btn>
                                        </template>
                                        <v-card>
                                            <v-btn icon @click="item.dialog = false" absolute small right fab>
                                                <v-icon>close</v-icon>
                                            </v-btn>
                                            <moderate-stock v-bind:descriptionValue="item.description" v-bind:titleValue="item.title" v-bind:imageUrlValue="item.image" v-bind:cafeIdValue="item.cafeId" v-bind:stock-id-value="item.id" v-bind:index-in-array-value="index" :parent-remove-stock="removeStock"></moderate-stock>
                                        </v-card>

                                    </v-dialog>
                                </v-list-tile-action>

                            </v-list-tile>
                            <v-divider
                                    v-if="index + 1 < items.length"
                                    :key="index"
                            ></v-divider>
                        </template>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
    import axios from 'axios';
    import moderateStock from './ModerateStock';
    const urlModerateBonusActions = '/api/moderateBonusActions';
    export default {
        components: {moderateStock},
        data () {
            return {
                items: [
                ]
            }
        },
        methods: {
            toggle (index) {
                const i = this.selected.indexOf(index)
                if (i > -1) {
                    this.selected.splice(i, 1)
                } else {
                    this.selected.push(index)
                }
            },
            removeStock(id) {
                this.items[id].dialog = false;
                this.items.splice(id, 1);
            }
        },
        mounted() {
            axios.get(urlModerateBonusActions).then(response => {
                this.items = response.data;
            })
        }
    }
</script>