<template>
    <v-avatar v-if="profile.avatar">
    <img
        v-bind:src="profile.avatar"
        alt="avatar"
    >
    </v-avatar>
</template>
<script>
import { mapState } from 'vuex';

export default {
    computed: mapState({profile: state => state.user.profile})
}
</script>
